<form class="form-horizontal" action="/zona/new" method="post" >
<fieldset>
          <legend>Crea nuova Zona DNS</legend>
          <div class="control-group">
            <label class="control-label" for="input01">Nome</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01" name="name">
              <p class="help-block">inserisci qui il nome di dominio</p>
            </div>
          </div>
	  <div class="form-actions">
            <button type="submit" class="btn btn-primary">Crea</button>
            <button type="reset" class="btn">Annulla</button>
          </div>
        </fieldset>
</form>
